$blue: #03a9f4;
$blue2: #0277bd;
$blue2-transparent: #{$blue2}80;
$blue3: #0288d1;
$blue4: #124d77;

$red: #b71c1c;
$red-transparent: #{$red}4d;

$white: #fafafa;
$white2: #e1f5fe;
$gray: #cfd8dc;
$gray2: #90a4ae;
$gray3: #546e7a;
$black: #050505;
$black-transparent: rgba(0, 0, 0, 0.3);

body {
  background-color: $gray;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

hr {
  background-color: $gray2;
  border: 0;
  height: 2px;
  margin: 24px 0;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: $blue2;
  text-decoration: underline;
}

footer {
  border-top: 1px solid $gray3;
  padding: 16px 8px;
}

.bg-light {
  background-color: $white;
  color: $black;
}

.flex {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 1px solid $gray3;
  border-radius: 4px;
  box-shadow: 1px 1px 3px $black-transparent;
  margin: 16px 12px;
  padding: 16px 20px;
  max-width: 640px;
  text-align: left;
  vertical-align: top;
  flex-grow: 1;
}

.card-title {
  margin-top: 0;
}

.secret-card {
  border: 1px dashed $black-transparent;
  border-radius: 4px;
  padding: 4px 8px;
}

.list {
  list-style-type: none;
  font-size: 17px;
  padding-left: 20px;
  margin-bottom: 0;
}

.alert {
  border: 1px solid $red;
  border-radius: 4px;
  box-shadow: 1px 1px 5px $red-transparent;
  color: $red;
}

.info {
  border: 1px solid $blue;
  border-radius: 4px;
  box-shadow: 1px 1px 5px $blue2-transparent;
}

.btn {
  border-radius: 4px;
  box-shadow: 1px 1px 5px $black-transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 15px;
  width: 100%;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn-primary {
  box-shadow:
    1px 1px 5px $black-transparent,
    inset 0 1px $blue;
  background: linear-gradient(to bottom, $blue3 5%, $blue2 100%);
  border: 1px solid $blue4;
  color: $white;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px $black;
}

.btn-primary:hover {
  background: linear-gradient(to bottom, $blue2 5%, $blue3 100%);
}

.btn-primary:active {
  box-shadow:
    1px 1px 2px $black-transparent,
    inset 0 1px $blue;
}

.btn-outline {
  background: linear-gradient(to bottom, $white 5%, $white2 100%);
  border: 1px solid $blue4;
  color: $black;
  padding: 6px 24px;
  text-decoration: none;
}

.btn-outline:hover {
  background: linear-gradient(to bottom, $white2 5%, $white 100%);
}

.btn-outline:active {
  box-shadow: 1px 1px 2px $black-transparent;
}

.large {
  font-size: 24px;
}

.form-control {
  border: 2px solid $blue2-transparent;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  padding: 10px 12px;
  margin: 1px 0 15px;
  font-size: 16px;
  width: 100%;
}

.custom-select {
  width: 100%;
  font-size: 18px;
}
